<h1>Первая лекция по angular</h1>
На петвой лекции было мало новой информации. Из интересного:
<ul>
  <li>Знакомство с Angular CLI</li>
  <li>общая структура проекта, компиляция проекта</li>
</ul>
<br/>

Рекомендации:
<ul>
  <li>процесс разверывания окружения можно вынести за рамки курса как предварительное задание: trello, visual code, учетка на git/github</li>
  <li>большинство разработчиков знакома с базовым инструментарием git и github, для тех кто не знаком, можно вынести в пререквизиты для начала работы</li>
  <li>возможно следует дать ссылку на минимальный ликбез, для тех, кто не знаком с основами JS и HTML, материал и темы, которые обязательны для курса (возможно не увидел)</li>
  <li>разработчики, которые приходят на курс, рассматривают данный курс, как доп. навыки,
    которые помогут работать на новых проектах не только с back-end средой, но и вести frontend разработку.
  При этом основной упор будет выполняться именно на бекенд. В связи с этим привязка к IDE, указанной в курсе,
    Visual Code, может быть не применима в большнистве проектов на практике и разработчикам.
  </li>
  <li>Работа с Markdown и ReadMe так же может быть излишней, т.к. большинство разработчиков работает с техническим описанием в рамках своего
  проекта, кроме того, могут использоваться другие инструментарии (confluence). Не относится на прямую к текущему курсу разработки angular 10</li>
  <li>За счет сокращения времени на развертывание среды, можно уделить больше внимания TypeScript-у, по крайней мере актуально для меня</li>
  <li>требуется более жесткий тайминг</li>
</ul>

